<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.crowd.mysql.mapper.ProjectMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.atguigu.crowd.entity.po.ProjectEntity">
        <id column="id" property="id" />
        <result column="project_name" property="projectName" />
        <result column="project_description" property="projectDescription" />
        <result column="money" property="money" />
        <result column="day" property="day" />
        <result column="status" property="status" />
        <result column="deploydate" property="deploydate" />
        <result column="supportmoney" property="supportmoney" />
        <result column="supporter" property="supporter" />
        <result column="completion" property="completion" />
        <result column="memberid" property="memberid" />
        <result column="createdate" property="createdate" />
        <result column="follower" property="follower" />
        <result column="header_picture_path" property="headerPicturePath" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, project_name, project_description, money, day, status, deploydate, supportmoney, supporter, completion, memberid, createdate, follower, header_picture_path
    </sql>

</mapper>
