<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.crowd.mysql.mapper.ProjectMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.atguigu.crowd.entity.po.ProjectEntity">
        <id column="id" property="id" />
        <result column="project_name" property="projectName" />
        <result column="project_description" property="projectDescription" />
        <result column="money" property="money" />
        <result column="day" property="day" />
        <result column="status" property="status" />
        <result column="deploydate" property="deploydate" />
        <result column="supportmoney" property="supportmoney" />
        <result column="supporter" property="supporter" />
        <result column="completion" property="completion" />
        <result column="memberid" property="memberid" />
        <result column="createdate" property="createdate" />
        <result column="follower" property="follower" />
        <result column="header_picture_path" property="headerPicturePath" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, project_name, project_description, money, day, status, deploydate, supportmoney, supporter, completion, memberid, createdate, follower, header_picture_path
    </sql>

    <resultMap type="com.atguigu.crowd.entity.vo.DetailProjectVO" id="loadProjectDetailResultMap">
        <id column="id" property="projectId"/>
        <result column="project_name" property="projectName"/>
        <result column="project_description" property="projectDesc"/>
        <result column="money" property="money"/>
        <result column="status" property="status"/>
        <result column="day" property="day"/>
        <result column="deploydate" property="deployDate"/>
        <result column="supportmoney" property="supportMoney"/>
        <result column="follower" property="followerCount"/>
        <result column="supporter" property="supporterCount"/>
        <result column="header_picture_path" property="headerPicturePath"/>
        <collection
                property="detailPicturePathList"
                select="com.atguigu.crowd.mysql.mapper.ProjectMapper.selectDetailPicturePath"
                column="id"/>

        <collection
                property="detailReturnVOList"
                select="com.atguigu.crowd.mysql.mapper.ProjectMapper.selectDeatailReturnVO"
                column="id"/>
    </resultMap>

    <select id="selectDetailPicturePath" resultType="string">
        SELECT item_pic_path FROM t_project_item_pic WHERE projectid=#{id}
    </select>

    <select id="selectDeatailReturnVO" resultType="com.atguigu.crowd.entity.vo.DetailReturnVO">
        select
            id returnId,
            supportmoney supportMoney,
            content,
            signalpurchase signalPurchase,
            purchase,
            freight,
            returndate returnDate
        from t_return
        where projectid=#{id}
    </select>

    <select id="selectDetailProjectVO" resultMap="loadProjectDetailResultMap">
        select
            id,
            project_name,
            project_description ,
            money,
            status,
            day,
            deploydate,
            supportmoney,
            supporter,
            supportmoney/money*100 percentage,
            follower,
            header_picture_path
        from
            t_project
        where id=#{projectId}
    </select>

    <resultMap type="com.atguigu.crowd.entity.vo.PortalTypeVO" id="loadPortalProjectListResultMap">

        <!-- 分类数据的常规属性 -->
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="remark" property="remark"/>

        <!-- 分类数据中包含的项目数据的List -->
        <!-- property属性：对应PortalTypeVO中分类数据中的项目数据的List属性 -->
        <!-- column属性：接下来查询项目时需要用到分类id，就是通过column属性把值传入 -->
        <!-- ofType属性：项目数据的实体类型PortalProjectVO -->
        <collection
                property="portalProjectVOList"
                column="id"
                ofType="com.atguigu.crowd.entity.vo.PortalProjectVO"
                select="com.atguigu.crowd.mysql.mapper.ProjectMapper.selectPortalProjectVOList"/>
    </resultMap>

    <select id="selectPortalTypeVOList" resultMap="loadPortalProjectListResultMap">
        select id,name,remark from t_type
    </select>

    <select id="selectPortalProjectVOList" resultType="com.atguigu.crowd.entity.vo.PortalProjectVO">
        SELECT
            t_project.id projectId,
            project_name projectName,
            money,
            deploydate deployDate,
            supportmoney/money*100 percentage,
            supporter supporter,
            header_picture_path headerPicturePath
        FROM t_project LEFT JOIN t_project_type ON t_project.id=t_project_type.projectid
        WHERE t_project_type.typeid=#{id}
        ORDER BY t_project.id DESC
        LIMIT 0,4
    </select>

</mapper>
